{% extends "base.html" %}

{% block content %}
<h1>Virtually Limitless Youth</h1>
<br>
<h2>Hi {{ user.username }}!</h2>

<br>
{% for post in posts %}
    <table>
        <tr>
            <td><h3>{{ post.headline }}</h3></td>
            <td><i>{{ post.date_time_posted }}</li></td>
        </tr>
        <tr>
            <td><strong>{{ post.author.username }}</strong></td>
            <td></td>

        </tr>
        <tr>
            <td><p>{{ post.body }}</p></td>
        </tr>
    </table>
    <hr>
    <br>
    <br>

{% endfor %}

{% endblock %}
